# Top 200

In [12]:
from IPython.display import HTML
from functools import reduce
import json
import pandas

In [13]:
qs_rankings_data_frame = pandas.read_csv("./csv/qs.csv")
shanghai_rankings_data_frame = pandas.read_csv("./csv/shanghai.csv")
times_rankings_data_frame = pandas.read_csv("./csv/times.csv")

In [14]:
top_200_qs_rankings_data_frame : pandas.DataFrame = qs_rankings_data_frame.head(200)
top_200_qs_rankings_data_frame.to_csv("./csv/top-200-qs.csv", index=False)
top_200_qs_universities : list[str] = top_200_qs_rankings_data_frame['university'].unique()
top_200_qs_countries : list[str] = top_200_qs_rankings_data_frame['country'].unique()
top_200_qs_rankings_data_frame

                                university         country  rank_qs
0    Massachusetts Institute of Technology   United States      1.0
1                  University of Cambridge  United Kingdom      2.0
2                     University of Oxford  United Kingdom      3.0
3                       Harvard University   United States      4.0
4                      Stanford University   United States      5.0
..                                     ...             ...      ...
195   University of Minnesota, Twin Cities   United States    196.0
196                    Hokkaido University           Japan    197.0
197   Indian Institute of Technology Delhi           India    198.0
198               Universidad de los Andes        Colombia    199.0
199         Universidad Autónoma de Madrid           Spain    200.0

[200 rows x 3 columns]

In [15]:
top_200_shanghai_rankings_data_frame : pandas.DataFrame = shanghai_rankings_data_frame.head(200)
top_200_shanghai_rankings_data_frame.to_csv("./csv/top-200-shanghai.csv", index=False)
top_200_shanghai_universities : list[str] = top_200_shanghai_rankings_data_frame['university'].unique()
top_200_shanghai_countries : list[str] = top_200_shanghai_rankings_data_frame['country'].unique()
top_200_shanghai_rankings_data_frame

                                university         country  rank_shanghai
0                       Harvard University   United States            1.0
1                      Stanford University   United States            2.0
2    Massachusetts Institute of Technology   United States            3.0
3                  University of Cambridge  United Kingdom            4.0
4       University of California, Berkeley   United States            5.0
..                                     ...             ...            ...
195                   University of Vienna         Austria          196.0
196                 University of Waterloo          Canada          197.0
197           Vrije Universiteit Amsterdam     Netherlands          198.0
198       Wageningen University & Research     Netherlands          199.0
199                      Xiamen University           China          200.0

[200 rows x 3 columns]

In [16]:
top_200_times_rankings_data_frame : pandas.DataFrame = times_rankings_data_frame.head(200)
top_200_times_rankings_data_frame.to_csv("./csv/top-200-times.csv", index=False)
top_200_times_universities : list[str] = top_200_times_rankings_data_frame['university'].unique()
top_200_times_countries : list[str] = top_200_times_rankings_data_frame['country'].unique()
top_200_times_rankings_data_frame

                                university         country  rank_times
0                     University of Oxford  United Kingdom           1
1                       Harvard University   United States           2
2                  University of Cambridge  United Kingdom           3
3                      Stanford University   United States           4
4    Massachusetts Institute of Technology   United States           5
..                                     ...             ...         ...
195       University of Erlangen-Nuremberg         Germany         196
196                     Sichuan University           China         197
197                      Durham University  United Kingdom         198
198             Queen's University Belfast  United Kingdom         199
199                  University of Reading  United Kingdom         200

[200 rows x 3 columns]

In [17]:
# -*- coding: utf-8 -*-

top_200_universities : list[str] = list(
    set([
        *top_200_qs_universities, 
        *top_200_shanghai_universities,
        *top_200_times_universities
    ])
)
top_200_universities.sort()
# Write to File
top_200_universities_file = open('./json/top-200-universities.json', 'w', encoding="utf-8")
json.dump(top_200_universities, top_200_universities_file, indent=2, ensure_ascii=False)
top_200_universities_file.close()

len(top_200_universities)

310

In [18]:
# -*- coding: utf-8 -*-

top_200_countries : list[str] = list(
    set([
        *top_200_times_countries,
        *top_200_shanghai_countries,
        *top_200_times_countries
    ])
)
top_200_countries.sort()
# Write to File
top_200_countries_file = open('./json/top-200-countries.json', 'w', encoding="utf-8")
json.dump(top_200_countries, top_200_countries_file, indent=2, ensure_ascii=False)
top_200_countries_file.close()

len(top_200_countries)

29

In [19]:
top_200_data_frames = [
    top_200_qs_rankings_data_frame,
    top_200_shanghai_rankings_data_frame,
    top_200_times_rankings_data_frame
]
on = ['university', 'country']
top_200_data_frame = reduce(lambda left, right: pandas.merge(left, right, on=on, how='outer'), top_200_data_frames)

top_200_data_frame.fillna(101, inplace=True)
top_200_data_frame['rank_average'] = round(top_200_data_frame[['rank_qs', 'rank_shanghai', 'rank_times']].mean(axis=1), 2)

sorted_top_200_data_frame = top_200_data_frame.sort_values('rank_average', ascending=True)
sorted_top_200_data_frame = sorted_top_200_data_frame.reset_index(drop=True)
sorted_top_200_data_frame.to_csv("./csv/top-200-all.csv", index=False)
sorted_top_200_data_frame

,university,country,rank_qs,rank_shanghai,rank_times,rank_average
0,Harvard University,United States,4.0,1.0,2.0,2.33
1,Massachusetts Institute of Technology,United States,1.0,3.0,5.0,3.00
2,University of Cambridge,United Kingdom,2.0,4.0,3.0,3.00
3,University of Oxford,United Kingdom,3.0,7.0,1.0,3.67
4,Stanford University,United States,5.0,2.0,4.0,3.67
...,...,...,...,...,...,...
306,"University of California, Santa Cruz",United States,101.0,182.0,193.0,158.67
307,Texas A&M University,United States,135.0,172.0,181.0,162.67
308,Cardiff University,United Kingdom,155.0,153.0,187.0,165.00
309,University of Liverpool,United Kingdom,179.0,142.0,177.0,166.00
310,Wuhan University,China,195.0,149.0,173.0,172.33

In [20]:
filtered_top_200_data_frame : pandas.DataFrame = sorted_top_200_data_frame[
    (sorted_top_200_data_frame["rank_qs"] < 101) & 
    (sorted_top_200_data_frame["rank_shanghai"] < 101) & 
    (sorted_top_200_data_frame["rank_times"] < 101)
]
filtered_top_200_data_frame.to_csv("./csv/top-200-filtered.csv", index=False)
filtered_top_200_data_frame

,university,country,rank_qs,rank_shanghai,rank_times,rank_average
0,Harvard University,United States,4.0,1.0,2.0,2.33
1,Massachusetts Institute of Technology,United States,1.0,3.0,5.0,3.00
2,University of Cambridge,United Kingdom,2.0,4.0,3.0,3.00
3,University of Oxford,United Kingdom,3.0,7.0,1.0,3.67
4,Stanford University,United States,5.0,2.0,4.0,3.67
5,"University of California, Berkeley",United States,10.0,5.0,8.0,7.67
6,California Institute of Technology,United States,15.0,9.0,6.0,10.00
7,Princeton University,United States,18.0,6.0,7.0,10.33
8,University of Chicago,United States,11.0,10.0,13.0,11.33
9,Yale University,United States,16.0,11.0,9.0,12.00
10,Imperial College London,United Kingdom,6.0,23.0,10.0,13.00
11,ETH Zurich,Switzerland,7.0,20.0,12.0,13.00
12,University of Pennsylvania,United States,12.0,15.0,14.0,13.67
13,Columbia University,United States,23.0,8.0,11.0,14.00
14,Cornell University,United States,13.0,12.0,20.0,15.00
15,University College London,United Kingdom,9.0,18.0,22.0,16.33
16,Johns Hopkins University,United States,28.0,14.0,15.0,19.00
17,University of Toronto,Canada,21.0,22.0,18.0,20.33
18,"University of California, Los Angeles",United States,30.0,13.0,21.0,21.33
19,Tsinghua University,China,25.0,26.0,16.0,22.33
20,Peking University,China,17.0,34.0,17.0,22.67
21,University of Melbourne,Australia,14.0,32.0,34.0,26.67
22,University of Michigan-Ann Arbor,United States,33.0,28.0,23.0,28.00
23,University of Edinburgh,United Kingdom,22.0,35.0,29.0,28.67
24,New York University,United States,39.0,25.0,24.0,29.33
25,University of Tokyo,Japan,29.0,24.0,39.0,30.67
26,National University of Singapore,Singapore,8.0,71.0,19.0,32.67
27,Northwestern University,United States,48.0,30.0,26.0,34.67
28,University of Washington,United States,63.0,17.0,27.0,35.67
29,Paris Sciences et Lettres – PSL Research Unive...,France,24.0,40.0,47.0,37.00
30,Duke University,United States,57.0,31.0,25.0,37.67
31,"University of California, San Diego",United States,62.0,21.0,32.0,38.33
32,University of British Columbia,Canada,35.0,45.0,40.0,40.00
33,King's College London,United Kingdom,40.0,48.0,35.0,41.00
34,Technical University of Munich,Germany,37.0,56.0,30.0,41.00
35,University of Manchester,United Kingdom,32.0,38.0,54.0,41.33
36,University of Sydney,Australia,20.0,60.0,55.0,45.00
37,University of Queensland,Australia,43.0,47.0,53.0,47.67
38,University of Texas at Austin,United States,58.0,37.0,50.0,48.33
39,University of Munich,Germany,54.0,58.0,33.0,48.33
40,Zhejiang University,China,44.0,36.0,67.0,49.00
41,Nanyang Technological University,Singapore,26.0,88.0,36.0,50.00
42,McGill University,Canada,31.0,73.0,46.0,50.00
43,University of Hong Kong,Hong Kong,27.0,97.0,31.0,51.67
44,University of New South Wales,Australia,19.0,64.0,72.0,51.67
45,Kyoto University,Japan,46.0,42.0,68.0,52.00
46,Shanghai Jiao Tong University,China,51.0,54.0,52.0,52.33
47,University of Illinois at Urbana-Champaign,United States,64.0,49.0,48.0,53.67
48,Monash University,Australia,42.0,75.0,44.0,53.67
49,Fudan University,China,50.0,67.0,51.0,56.00
50,Australian National University,Australia,34.0,80.0,62.0,58.67
51,Université Paris-Saclay,France,71.0,16.0,93.0,60.00
54,Sorbonne University,France,59.0,43.0,90.0,64.00
56,Seoul National University,South Korea,41.0,98.0,56.0,65.00
57,KU Leuven,Belgium,61.0,95.0,42.0,66.00
58,Universität Heidelberg,Germany,88.0,70.0,43.0,67.00
66,Brown University,United States,73.0,99.0,61.0,77.67
68,University of Zurich,Switzerland,92.0,59.0,84.0,78.33

In [21]:
sorted_filtered_top_200_data_frame = filtered_top_200_data_frame.sort_values(by=['country', 'rank_average'], ascending=True)
sorted_filtered_top_200_data_frame.to_csv("./csv/top-200-filtered-countries.csv", index=False)
sorted_filtered_top_200_data_frame

,university,country,rank_qs,rank_shanghai,rank_times,rank_average
21,University of Melbourne,Australia,14.0,32.0,34.0,26.67
36,University of Sydney,Australia,20.0,60.0,55.0,45.00
37,University of Queensland,Australia,43.0,47.0,53.0,47.67
44,University of New South Wales,Australia,19.0,64.0,72.0,51.67
48,Monash University,Australia,42.0,75.0,44.0,53.67
50,Australian National University,Australia,34.0,80.0,62.0,58.67
57,KU Leuven,Belgium,61.0,95.0,42.0,66.00
17,University of Toronto,Canada,21.0,22.0,18.0,20.33
32,University of British Columbia,Canada,35.0,45.0,40.0,40.00
42,McGill University,Canada,31.0,73.0,46.0,50.00
19,Tsinghua University,China,25.0,26.0,16.0,22.33
20,Peking University,China,17.0,34.0,17.0,22.67
40,Zhejiang University,China,44.0,36.0,67.0,49.00
46,Shanghai Jiao Tong University,China,51.0,54.0,52.0,52.33
49,Fudan University,China,50.0,67.0,51.0,56.00
29,Paris Sciences et Lettres – PSL Research Unive...,France,24.0,40.0,47.0,37.00
51,Université Paris-Saclay,France,71.0,16.0,93.0,60.00
54,Sorbonne University,France,59.0,43.0,90.0,64.00
34,Technical University of Munich,Germany,37.0,56.0,30.0,41.00
39,University of Munich,Germany,54.0,58.0,33.0,48.33
58,Universität Heidelberg,Germany,88.0,70.0,43.0,67.00
43,University of Hong Kong,Hong Kong,27.0,97.0,31.0,51.67
25,University of Tokyo,Japan,29.0,24.0,39.0,30.67
45,Kyoto University,Japan,46.0,42.0,68.0,52.00
26,National University of Singapore,Singapore,8.0,71.0,19.0,32.67
41,Nanyang Technological University,Singapore,26.0,88.0,36.0,50.00
56,Seoul National University,South Korea,41.0,98.0,56.0,65.00
11,ETH Zurich,Switzerland,7.0,20.0,12.0,13.00
68,University of Zurich,Switzerland,92.0,59.0,84.0,78.33
2,University of Cambridge,United Kingdom,2.0,4.0,3.0,3.00
3,University of Oxford,United Kingdom,3.0,7.0,1.0,3.67
10,Imperial College London,United Kingdom,6.0,23.0,10.0,13.00
15,University College London,United Kingdom,9.0,18.0,22.0,16.33
23,University of Edinburgh,United Kingdom,22.0,35.0,29.0,28.67
33,King's College London,United Kingdom,40.0,48.0,35.0,41.00
35,University of Manchester,United Kingdom,32.0,38.0,54.0,41.33
0,Harvard University,United States,4.0,1.0,2.0,2.33
1,Massachusetts Institute of Technology,United States,1.0,3.0,5.0,3.00
4,Stanford University,United States,5.0,2.0,4.0,3.67
5,"University of California, Berkeley",United States,10.0,5.0,8.0,7.67
6,California Institute of Technology,United States,15.0,9.0,6.0,10.00
7,Princeton University,United States,18.0,6.0,7.0,10.33
8,University of Chicago,United States,11.0,10.0,13.0,11.33
9,Yale University,United States,16.0,11.0,9.0,12.00
12,University of Pennsylvania,United States,12.0,15.0,14.0,13.67
13,Columbia University,United States,23.0,8.0,11.0,14.00
14,Cornell University,United States,13.0,12.0,20.0,15.00
16,Johns Hopkins University,United States,28.0,14.0,15.0,19.00
18,"University of California, Los Angeles",United States,30.0,13.0,21.0,21.33
22,University of Michigan-Ann Arbor,United States,33.0,28.0,23.0,28.00
24,New York University,United States,39.0,25.0,24.0,29.33
27,Northwestern University,United States,48.0,30.0,26.0,34.67
28,University of Washington,United States,63.0,17.0,27.0,35.67
30,Duke University,United States,57.0,31.0,25.0,37.67
31,"University of California, San Diego",United States,62.0,21.0,32.0,38.33
38,University of Texas at Austin,United States,58.0,37.0,50.0,48.33
47,University of Illinois at Urbana-Champaign,United States,64.0,49.0,48.0,53.67
66,Brown University,United States,73.0,99.0,61.0,77.67

In [22]:
filtered_out_top_200_data_frame : pandas.DataFrame = sorted_top_200_data_frame[
    (sorted_top_200_data_frame["rank_qs"] == 101) | (sorted_top_200_data_frame["rank_shanghai"] == 101) | (sorted_top_200_data_frame["rank_times"] == 101)
]
HTML(filtered_out_top_200_data_frame.to_html(index=False))