# Professional Footballers' Association Team of the Year

In [110]:
import pandas

## Teams of the Year

In [111]:
teams_data_frame = pandas.read_csv("./teams.csv")
teams_data_frame

,season_start,season_end,position,name,country,club
0,1992,1993,GK,Peter Schmeichel,Denmark,Manchester United
1,1992,1993,RB,David Bardsley,England,Queens Park Rangers
2,1992,1993,CB,Paul McGrath,Ireland,Aston Villa
3,1992,1993,CB,Gary Pallister,England,Manchester United
4,1992,1993,LB,Tony Dorigo,England,Leeds United
...,...,...,...,...,...,...
325,2021,2022,MF,Thiago,Spain,Liverpool
326,2021,2022,MF,Kevin De Bruyne,Belgium,Manchester City
327,2021,2022,FW,Sadio Mané,Senegal,Liverpool
328,2021,2022,FW,Cristiano Ronaldo,Portugal,Manchester United
329,2021,2022,FW,Mohamed Salah,Egypt,Liverpool

## Most Appearances

In [112]:
most_appearances = teams_data_frame['name'].value_counts()
most_appearances

name
Steven Gerrard      8
Thierry Henry       6
Rio Ferdinand       6
Gary Neville        6
Ryan Giggs          6
                   ..
Steve Finnan        1
Teddy Sheringham    1
Sylvinho            1
Wes Brown           1
Thiago              1
Name: count, Length: 176, dtype: int64

In [113]:
country_most_appearances = teams_data_frame['country'].value_counts()
country_most_appearances

country
England                146
France                  36
Ireland                 18
Spain                   18
Belgium                 16
Netherlands             16
Portugal                12
Brazil                   7
Serbia                   7
Argentina                6
Scotland                 6
Ivory Coast              4
Wales                    4
Senegal                  4
Egypt                    3
Germany                  3
Uruguay                  2
Bulgaria                 2
Denmark                  2
Czech Republic           2
United States            2
Finland                  2
Cameroon                 1
Togo                     1
Ecuador                  1
Australia                1
Chile                    1
Jamaica                  1
Algeria                  1
Trinidad and Tobago      1
Norway                   1
Turkey                   1
Gabon                    1
Korea                    1
Name: count, dtype: int64

## Goalkeepers

In [114]:
goalkeepers_data_frame = teams_data_frame[teams_data_frame['position'] == "GK"]
most_appearances_by_goalkeepers = goalkeepers_data_frame['name'].value_counts()
most_appearances_by_goalkeepers

name
David de Gea         5
Nigel Martyn         3
Edwin van der Sar    3
Tim Flowers          2
David James          2
Shay Given           2
Petr Čech            2
Joe Hart             2
Ederson              2
Peter Schmeichel     1
David Seaman         1
Fabien Barthez       1
Brad Friedel         1
Tim Howard           1
Nick Pope            1
Alisson              1
Name: count, dtype: int64

## Right Backs

In [115]:
right_backs_data_frame = teams_data_frame[teams_data_frame['position'] == "RB"]
most_appearances_by_right_backs = right_backs_data_frame['name'].value_counts()
most_appearances_by_right_backs

name
Gary Neville              6
Trent Alexander-Arnold    3
Kyle Walker               3
Bacary Sagna              2
Branislav Ivanović        2
Stephen Carr              2
Gary Kelly                2
Héctor Bellerín           1
Séamus Coleman            1
Pablo Zabaleta            1
David Bardsley            1
Glen Johnson              1
Pascal Chimbonda          1
Lauren                    1
Steve Finnan              1
Rob Jones                 1
João Cancelo              1
Name: count, dtype: int64

## Centre Backs

In [116]:
centre_backs_data_frame = teams_data_frame[teams_data_frame['position'] == "CB"]
most_appearances_by_centre_backs = centre_backs_data_frame['name'].value_counts()
most_appearances_by_centre_backs

name
Rio Ferdinand         6
Gary Pallister        4
Nemanja Vidić         4
John Terry            4
Jaap Stam             3
Vincent Kompany       3
Virgil van Dijk       3
Gary Cahill           3
Sol Campbell          3
Tony Adams            3
Sami Hyypiä           2
Colin Hendry          2
Jan Vertonghen        2
Çağlar Söyüncü        1
Wes Morgan            1
Aymeric Laporte       1
John Stones           1
Rúben Dias            1
Nicolás Otamendi      1
David Luiz            1
Paul McGrath          1
Thomas Vermaelen      1
Toby Alderweireld     1
Fabricio Coloccini    1
Richard Dunne         1
Jamie Carragher       1
William Gallas        1
Wes Brown             1
Mark Wright           1
Ugo Ehiogu            1
Antonio Rüdiger       1
Name: count, dtype: int64

## Left Backs

In [117]:
left_backs_data_frame = teams_data_frame[teams_data_frame['position'] == "LB"]
most_appearances_by_left_backs = left_backs_data_frame['name'].value_counts()
most_appearances_by_left_backs

name
Ashley Cole            4
Patrice Evra           3
Leighton Baines        2
Graeme Le Saux         2
Andrew Robertson       2
Danny Rose             2
Luke Shaw              2
Denis Irwin            2
Tony Dorigo            1
Marcos Alonso          1
Ryan Bertrand          1
William Gallas         1
Gaël Clichy            1
Wayne Bridge           1
Sylvinho               1
Ian Harte              1
Stig Inge Bjørnebye    1
Alan Wright            1
João Cancelo           1
Name: count, dtype: int64

## Midfielders

In [118]:
midfielders_data_frame = teams_data_frame[teams_data_frame['position'] == "MF"]
most_appearances_by_midfielders = midfielders_data_frame['name'].value_counts()
most_appearances_by_midfielders

name
Steven Gerrard           8
Ryan Giggs               6
Patrick Vieira           6
Roy Keane                5
David Beckham            4
Eden Hazard              4
Cristiano Ronaldo        4
Kevin De Bruyne          4
David Silva              3
Gareth Bale              3
Frank Lampard            3
Robert Pires             3
Paul Ince                3
David Batty              3
David Ginola             2
N'Golo Kanté             2
Ashley Young             2
Cesc Fàbregas            2
Bernardo Silva           2
Dele Alli                2
Yaya Touré               2
Paul Scholes             2
Alexis Sánchez           1
Christian Eriksen        1
Bruno Fernandes          1
Juan Mata                1
Michael Carrick          1
Sadio Mané               1
Adam Lallana             1
Nemanja Matić            1
Jordan Henderson         1
Fernandinho              1
Dimitri Payet            1
Philippe Coutinho        1
Paul Pogba               1
Riyad Mahrez             1
Scott Parker             1
İlkay Gündoğan           1
Darren Fletcher          1
Jack Wilshere            1
Emmanuel Petit           1
Gary McAllister          1
Tim Sherwood             1
Matt Le Tissier          1
Steve Stone              1
Rob Lee                  1
Ruud Gullit              1
Steve McManaman          1
Nicky Butt               1
Harry Kewell             1
Samir Nasri              1
Kieron Dyer              1
Shaun Wright-Phillips    1
Arjen Robben             1
Joe Cole                 1
Antonio Valencia         1
Gary Speed               1
James Milner             1
Nani                     1
Thiago                   1
Name: count, dtype: int64

## Forwards

In [119]:
forwards_data_frame = teams_data_frame[teams_data_frame['position'] == "FW"]
most_appearances_by_forwards = forwards_data_frame['name'].value_counts()
most_appearances_by_forwards

name
Alan Shearer                 6
Thierry Henry                6
Harry Kane                   5
Sadio Mané                   3
Mohamed Salah                3
Wayne Rooney                 3
Sergio Agüero                2
Jamie Vardy                  2
Luis Suárez                  2
Robin van Persie             2
Fernando Torres              2
Dimitar Berbatov             2
Ian Wright                   2
Ruud van Nistelrooy          2
Didier Drogba                2
Nicolas Anelka               2
Teddy Sheringham             1
Les Ferdinand                1
Son Heung-min                1
Pierre-Emerick Aubameyang    1
Eric Cantona                 1
Raheem Sterling              1
Peter Beardsley              1
Jürgen Klinsmann             1
Romelu Lukaku                1
Chris Sutton                 1
Diego Costa                  1
Andrew Johnson               1
Daniel Sturridge             1
Michael Owen                 1
Dennis Bergkamp              1
Carlos Tevez                 1
Dwight Yorke                 1
Emmanuel Adebayor            1
Andy Cole                    1
Kevin Phillips               1
Cristiano Ronaldo            1
Name: count, dtype: int64