# Quotes

In [1]:
import pandas
import requests
from tqdm.notebook import tqdm_notebook

## Get Quotes

In [2]:
BASE_URL = "https://api.quotable.io/quotes?page={0}&limit=150"

response = requests.get(BASE_URL.format(1))
responseJSON = response.json()
totalPages = responseJSON.get('totalPages')
totalCount = responseJSON.get('totalCount')
print(totalPages, totalCount)

quotes = []

for i in tqdm_notebook(range(totalPages + 1)):
    quotesResponse = requests.get(BASE_URL.format(i))
    quotesJSON = quotesResponse.json()
    quotesResults = quotesJSON.get('results')
    quotes += quotesResults

quotes_data_frame = pandas.DataFrame(quotes)
quotes_data_frame = quotes_data_frame.sort_values(by = ["author", "content"])
quotes_data_frame.to_csv("./quotes.csv", index=False, header=True)

15 2127

  0%|          | 0/16 [00:00<?, ?it/s]

## Get Authors

In [3]:
author_series = quotes_data_frame['author'].value_counts()
author_series

author
The Buddha             142
Albert Einstein         70
Ralph Waldo Emerson     53
Confucius               45
Laozi                   42
                      ...
Kin Hubbard              1
Kenji Miyazawa           1
Douglas Coupland         1
Kathleen Norris          1
Cory Doctorow            1
Name: count, Length: 728, dtype: int64