# NBA (National Basketball Association)

In [44]:
import pandas

In [45]:
champions_data_frame = pandas.read_csv("./champions.csv")
champions_data_frame

,year,champion,champion_conference,runner_up,runner_up_conference
0,1947,Golden State Warriors,eastern,Chicago Stags,western
1,1948,Baltimore Bullets,western,Golden State Warriors,eastern
2,1949,Los Angeles Lakers,western,Washington Capitols,eastern
3,1950,Los Angeles Lakers,western,Philadelphia 76ers,eastern
4,1951,Sacramento Kings,western,New York Knicks,eastern
...,...,...,...,...,...
71,2018,Golden State Warriors,western,Cleveland Cavaliers,eastern
72,2019,Toronto Raptors,eastern,Golden State Warriors,western
73,2020,Los Angeles Lakers,western,Miami Heat,eastern
74,2021,Milwaukee Bucks,eastern,Phoenix Suns,western
75,2022,Golden State Warriors,western,Boston Celtics,eastern

In [46]:
champions = champions_data_frame["champion"].value_counts()
champions

champion
Los Angeles Lakers        17
Boston Celtics            17
Golden State Warriors      7
Chicago Bulls              6
San Antonio Spurs          5
Philadelphia 76ers         3
Miami Heat                 3
Detroit Pistons            3
New York Knicks            2
Milwaukee Bucks            2
Houston Rockets            2
Cleveland Cavaliers        1
Dallas Mavericks           1
Washington Wizards         1
Oklahoma City Thunder      1
Baltimore Bullets          1
Portland Trail Blazers     1
Atlanta Hawks              1
Sacramento Kings           1
Toronto Raptors            1
Name: count, dtype: int64

In [47]:
champions_conference = champions_data_frame["champion_conference"].value_counts()
champions_conference

champion_conference
eastern    40
western    36
Name: count, dtype: int64

In [48]:
runners_up = champions_data_frame["runner_up"].value_counts()
runners_up

runner_up
Los Angeles Lakers        15
Philadelphia 76ers         6
New York Knicks            6
Golden State Warriors      5
Boston Celtics             5
Cleveland Cavaliers        4
Detroit Pistons            4
Phoenix Suns               3
Oklahoma City Thunder      3
Washington Wizards         3
Atlanta Hawks              3
Miami Heat                 3
Brooklyn Nets              2
Houston Rockets            2
Portland Trail Blazers     2
Orlando Magic              2
Utah Jazz                  2
Dallas Mavericks           1
Chicago Stags              1
Indiana Pacers             1
Milwaukee Bucks            1
Washington Capitols        1
San Antonio Spurs          1
Name: count, dtype: int64

In [49]:
runners_up_conference = champions_data_frame["runner_up_conference"].value_counts()
runners_up_conference

runner_up_conference
western    40
eastern    36
Name: count, dtype: int64