In [5]:
import pandas

In [6]:
governors_data_frame = pandas.read_csv("./governors.csv")
governors_data_frame

                 name             regional_bank       president
0      Charles Hamlin                    Boston  Woodrow Wilson
1        Paul Warburg                  New York  Woodrow Wilson
2     Frederic Delano                   Chicago  Woodrow Wilson
3     William Harding                   Atlanta  Woodrow Wilson
4       Adolph Miller  San Francisco / Richmond  Woodrow Wilson
..                ...                       ...             ...
96        Miki Bowman                 St. Louis    Donald Trump
97       Chris Waller               Minneapolis    Donald Trump
98          Lisa Cook                   Atlanta       Joe Biden
99   Philip Jefferson                  New York       Joe Biden
100      Michael Barr                   Chicago       Joe Biden

[101 rows x 3 columns]

In [7]:
presidents = governors_data_frame["president"].value_counts()
presidents

president
Franklin D. Roosevelt    11
Woodrow Wilson            9
George W. Bush            9
Harry S. Truman           8
Ronald Reagan             8
Barack Obama              7
Bill Clinton              6
Jimmy Carter              6
Gerald Ford               5
Richard Nixon             5
Warren G. Harding         5
Dwight D. Eisenhower      4
Donald Trump              4
Lyndon B. Johnson         3
George H. W. Bush         3
Joe Biden                 3
John F. Kennedy           2
Herbert Hoover            2
Calvin Coolidge           1
Name: count, dtype: int64

In [8]:
regional_banks = governors_data_frame["regional_bank"].value_counts()
regional_banks

regional_bank
New York                    13
Chicago                     12
Atlanta                     10
Richmond                    10
San Francisco                9
Philadelphia                 9
Boston                       8
Kansas City                  8
Minneapolis                  7
St. Louis                    6
Dallas                       5
Cleveland                    3
San Francisco / Richmond     1
Name: count, dtype: int64