In [25]:
import pandas

In [26]:
top_scorers_data_frame = pandas.read_csv("./datasets.csv")
top_scorers_data_frame

,competition,season,name,country,club,goals,games,rate
0,Eredivisie,1956-57,Coen Dillen,NaN,NaN,43,NaN,NaN
1,Eredivisie,1957-58,Leo Canjels,NaN,NaN,32,NaN,NaN
2,Eredivisie,1958-59,Leo Canjels,NaN,NaN,34,NaN,NaN
3,Eredivisie,1959-60,Henk Groot,NaN,NaN,38,NaN,NaN
4,Eredivisie,1960-61,Henk Groot,NaN,NaN,41,NaN,NaN
...,...,...,...,...,...,...,...,...
333,Premier League,2019-2020,Jamie Vardy,England,Leicester City,23,35,0.66
334,Premier League,2020-2021,Harry Kane,England,Tottenham Hotspur,23,35,0.66
335,Premier League,2021-2022,Mohamed Salah,Egypt,Liverpool,23,35,0.66
336,Premier League,2021-2022,Son Heung-min,South Korea,Tottenham Hotspur,23,35,0.66
337,Premier League,2022-2023,Erling Haaland,Norway,Manchester City,36,35,1.03

In [27]:
sorted_top_scorers_data_frame = top_scorers_data_frame.sort_values(by=['competition', 'season'])
sorted_top_scorers_data_frame.to_csv("./top-scorers.csv", index=False)
sorted_top_scorers_data_frame

,competition,season,name,country,club,goals,games,rate
0,Eredivisie,1956-57,Coen Dillen,NaN,NaN,43,NaN,NaN
1,Eredivisie,1957-58,Leo Canjels,NaN,NaN,32,NaN,NaN
2,Eredivisie,1958-59,Leo Canjels,NaN,NaN,34,NaN,NaN
3,Eredivisie,1959-60,Henk Groot,NaN,NaN,38,NaN,NaN
4,Eredivisie,1960-61,Henk Groot,NaN,NaN,41,NaN,NaN
...,...,...,...,...,...,...,...,...
294,Serie A,2019-20,Ciro Immobile,Italy,Lazio,36,NaN,NaN
295,Serie A,2020-21,Cristiano Ronaldo,Portugal,Juventus,29,NaN,NaN
296,Serie A,2021-22,Ciro Immobile,Italy,Lazio,27,NaN,NaN
297,Serie A,2022-23,Victor Osimhen,Nigeria,Napoli,26,NaN,NaN
298,competition,season,name,country,club,goals,games,rate

In [28]:
competitions = top_scorers_data_frame["competition"].unique()
competitions

array(['Eredivisie', 'La Liga', 'Primeira Liga', 'Serie A', 'competition',
       'Premier League'], dtype=object)

## Premier League

In [29]:
premier_league_top_scorers_data_frame = top_scorers_data_frame[top_scorers_data_frame["competition"] == "Premier League"]
premier_league_top_scorers_data_frame

,competition,season,name,country,club,goals,games,rate
299,Premier League,1992-1993,Teddy Sheringham,England,Tottenham Hotspur,22,41,0.54
300,Premier League,1993-1994,Andy Cole,England,Newcastle United,34,40,0.85
301,Premier League,1994-1995,Alan Shearer,England,Blackburn Rovers,34,42,0.81
302,Premier League,1995-1996,Alan Shearer,England,Blackburn Rovers,31,35,0.89
303,Premier League,1996-1997,Alan Shearer,England,Newcastle United,25,31,0.81
304,Premier League,1997-1998,Chris Sutton,England,Blackburn Rovers,18,35,0.51
305,Premier League,1997-1998,Dion Dublin,England,Coventry City,18,36,0.50
306,Premier League,1997-1998,Michael Owen,England,Liverpool,18,36,0.50
307,Premier League,1998-1999,Michael Owen,England,Liverpool,18,30,0.60
308,Premier League,1998-1999,Dwight Yorke,Trinidad and Tobago,Manchester United,18,33,0.55
309,Premier League,1998-1999,Jimmy Floyd Hasselbaink,Netherlands,Leeds United,18,36,0.50
310,Premier League,1999-2000,Kevin Phillips,England,Sunderland,30,36,0.83
311,Premier League,2000-2001,Jimmy Floyd Hasselbaink,Netherlands,Chelsea,23,35,0.66
312,Premier League,2001-2002,Thierry Henry,France,Arsenal,24,33,0.73
313,Premier League,2002-2003,Ruud van Nistelrooy,Netherlands,Manchester United,25,34,0.74
314,Premier League,2003-2004,Thierry Henry,France,Arsenal,30,37,0.81
315,Premier League,2004-2005,Thierry Henry,France,Arsenal,25,32,0.78
316,Premier League,2005-2006,Thierry Henry,France,Arsenal,27,32,0.84
317,Premier League,2006-2007,Didier Drogba,Ivory Coast,Chelsea,20,36,0.56
318,Premier League,2007-2008,Cristiano Ronaldo,Portugal,Manchester United,31,34,0.91
319,Premier League,2008-2009,Nicolas Anelka,France,Chelsea,19,36,0.53
320,Premier League,2009-2010,Didier Drogba,Ivory Coast,Chelsea,29,32,0.91
321,Premier League,2010-2011,Carlos Tevez,Argentina,Manchester City,20,31,0.65
322,Premier League,2010-2011,Dimitar Berbatov,Bulgaria,Manchester United,20,32,0.63
323,Premier League,2011-2012,Robin van Persie,Netherlands,Arsenal,30,38,0.79
324,Premier League,2012-2013,Robin van Persie,Netherlands,Manchester United,26,38,0.68
325,Premier League,2013-2014,Luis SuÃ¡rez,Uruguay,Liverpool,31,33,0.94
326,Premier League,2014-2015,Sergio AgÃ¼ero,Argentina,Manchester City,26,33,0.79
327,Premier League,2015-2016,Harry Kane,England,Tottenham Hotspur,25,38,0.66
328,Premier League,2016-2017,Harry Kane,England,Tottenham Hotspur,29,30,0.97
329,Premier League,2017-2018,Mohamed Salah,Egypt,Liverpool,32,36,0.89
330,Premier League,2018-2019,Pierre-Emerick Aubameyang,Gabon,Arsenal,22,36,0.61
331,Premier League,2018-2019,Sadio ManÃ©,Senegal,Liverpool,22,36,0.61
332,Premier League,2018-2019,Mohamed Salah,Egypt,Liverpool,22,38,0.58
333,Premier League,2019-2020,Jamie Vardy,England,Leicester City,23,35,0.66
334,Premier League,2020-2021,Harry Kane,England,Tottenham Hotspur,23,35,0.66
335,Premier League,2021-2022,Mohamed Salah,Egypt,Liverpool,23,35,0.66
336,Premier League,2021-2022,Son Heung-min,South Korea,Tottenham Hotspur,23,35,0.66
337,Premier League,2022-2023,Erling Haaland,Norway,Manchester City,36,35,1.03

In [30]:
top_scorers = premier_league_top_scorers_data_frame['name'].value_counts()
top_scorers

name
Thierry Henry                4
Alan Shearer                 3
Mohamed Salah                3
Harry Kane                   3
Robin van Persie             2
Michael Owen                 2
Jimmy Floyd Hasselbaink      2
Didier Drogba                2
Teddy Sheringham             1
Son Heung-min                1
Jamie Vardy                  1
Sadio ManÃ©                   1
Pierre-Emerick Aubameyang    1
Sergio AgÃ¼ero                1
Luis SuÃ¡rez                  1
Nicolas Anelka               1
Dimitar Berbatov             1
Carlos Tevez                 1
Andy Cole                    1
Cristiano Ronaldo            1
Ruud van Nistelrooy          1
Kevin Phillips               1
Dwight Yorke                 1
Dion Dublin                  1
Chris Sutton                 1
Erling Haaland               1
Name: count, dtype: int64