In [1]:
import pandas

In [2]:
titled_players_df = pandas.read_csv("./titled-players.csv")

In [3]:
titled_players_df.shape[0]

160

In [4]:
titled_players_df["title"].value_counts()

title
FM     46
NM     29
IM     23
CM     21
GM     19
WFM    11
WIM     7
WCM     4
Name: count, dtype: int64

In [5]:
gm_players_df = titled_players_df[titled_players_df["title"] == "GM"]
im_players_df = titled_players_df[titled_players_df["title"] == "IM"]
fm_players_df = titled_players_df[titled_players_df["title"] == "FM"]
cm_players_df = titled_players_df[titled_players_df["title"] == "CM"]
nm_players_df = titled_players_df[titled_players_df["title"] == "NM"]
wgm_players_df = titled_players_df[titled_players_df["title"] == "WGM"]
wim_players_df = titled_players_df[titled_players_df["title"] == "WIM"]
wfm_players_df = titled_players_df[titled_players_df["title"] == "WFM"]
wcm_players_df = titled_players_df[titled_players_df["title"] == "WCM"]
wnm_players_df = titled_players_df[titled_players_df["title"] == "WNM"]

## Rapid

In [6]:
titled_players_df["rapid_rating_last"].mean()

1855.4125

In [7]:
column: str = "rapid_rating_best"
max_rapid: int = titled_players_df[column].max()
max_rapid_player = titled_players_df[titled_players_df[column] == max_rapid]
max_rapid_player[["id", "username", "name", column]]

           id           username name  rapid_rating_best
145  90871188  abhijeetonyoutube  NaN               2759

## Blitz

In [8]:
titled_players_df["blitz_rating_last"].mean()

2359.04375

In [9]:
column: str = "blitz_rating_best"
max_blitz: int = titled_players_df[column].max()
max_blitz_player = titled_players_df[titled_players_df[column] == max_blitz]
max_blitz_player[["id", "username", "name", column]]

         id  username        name  blitz_rating_best
6  73320100  0gzpanda  Anthony He               3111

## Bullet

In [10]:
titled_players_df["bullet_rating_last"].mean()

1922.94375

In [11]:
column: str = "bullet_rating_best"
max_bullet: int = titled_players_df[column].max()
max_bullet_player = titled_players_df[titled_players_df[column] == max_bullet]
max_bullet_player[["id", "username", "name", column]]

         id  username        name  bullet_rating_best
6  73320100  0gzpanda  Anthony He                3278