# The Football Association Challenge Cup (FA) Cup

In [66]:
import matplotlib.pyplot as plt
import mplcyberpunk
import pandas

plt.style.use('cyberpunk')

## Finals

In [67]:
finals_data_frame = pandas.read_csv("./finals.csv")
finals_data_frame

,season,year_start,champion,score,score_replay,runner_up,venue,attendance,Unnamed: 8
0,1871-72,1871,Wanderers,1-0,NaN,Royal Engineers,Kennington Oval,2000,NaN
1,1872-73,1872,Wanderers,2-0,NaN,Oxford University,Lillie Bridge,3000,NaN
2,1873-74,1873,Oxford University,2-0,NaN,Royal Engineers,Kennington Oval,2000,NaN
3,1874-75,1874,Royal Engineers,1-1,2-0,Old Etonians,Kennington Oval,2000,NaN
4,1875-76,1875,Wanderers,1-1,3-0,Old Etonians,Kennington Oval,3500,NaN
...,...,...,...,...,...,...,...,...,...
136,2017-18,2017,Chelsea,1-0,NaN,Manchester United,Wembley Stadium,87647,NaN
137,2018-19,2018,Manchester City,6-0,NaN,Watford,Wembley Stadium,85854,NaN
138,2019-20,2019,Arsenal,2-1,NaN,Chelsea,Wembley Stadium,0,NaN
139,2020-21,2020,Leicester City,1-0,NaN,Chelsea,Wembley Stadium,20000,NaN
140,2021-22,2021,Liverpool,0-0,NaN,Chelsea,Wembley Stadium,84897,NaN

### Champions

In [68]:
finals_series = finals_data_frame['champion'].value_counts(ascending=False)
finals_series

champion
Arsenal                    14
Manchester United          12
Tottenham Hotspur           8
Liverpool                   8
Chelsea                     8
Aston Villa                 7
Newcastle United            6
Blackburn Rovers            6
Manchester City             6
Wanderers                   5
Everton                     5
Sheffield United            5
West Bromwich Albion        5
Bolton Wanderers            4
Wolverhampton Wanderers     4
West Ham United             3
Sunderland                  2
Nottingham Forest           2
Portsmouth                  2
Preston North End           2
The Wednesday               2
Old Etonians                2
Derby County                1
Wigan Athletic              1
Charlton Athletic           1
Southampton                 1
Blackpool                   1
Wimbledon                   1
Ipswich Town                1
Leeds United                1
Coventry City               1
Bradford City               1
Sheffield Wednesday         1
Cardiff City                1
Huddersfield Town           1
Burnley                     1
Barnsley                    1
Oxford University           1
Bury                        1
Notts County                1
Blackburn Olympic           1
Old Carthusians             1
Clapham Rovers              1
Royal Engineers             1
Leicester City              1
Name: count, dtype: int64

### Runner Up

In [69]:
runner_up_series = finals_data_frame['runner_up'].value_counts(ascending=False)
runner_up_series

runner_up
Everton                    8
Chelsea                    8
Manchester United          8
Liverpool                  7
Arsenal                    7
Newcastle United           7
Preston North End          5
Manchester City            5
West Bromwich Albion       5
Wolverhampton Wanderers    4
Aston Villa                4
Huddersfield Town          4
Old Etonians               4
Leicester City             4
Southampton                4
Portsmouth                 3
Royal Engineers            3
Leeds United               3
Bolton Wanderers           3
Oxford University          3
Sheffield Wednesday        2
Burnley                    2
Watford                    2
Crystal Palace             2
Blackpool                  2
Cardiff City               2
West Ham United            2
Sheffield United           2
Blackburn Rovers           2
Sunderland                 2
Derby County               2
Queen's Park               2
Bristol City               1
Charlton Athletic          1
Stoke City                 1
Millwall                   1
Middlesbrough              1
Nottingham Forest          1
Clapham Rovers             1
Tottenham Hotspur          1
Barnsley                   1
Brighton & Hove Albion     1
Queens Park Rangers        1
Fulham                     1
Birmingham                 1
The Wednesday              1
Luton Town                 1
Notts County               1
Birmingham City            1
Hull City                  1
Name: count, dtype: int64

### Appearances

In [70]:
champions = finals_data_frame["champion"].unique().tolist()
runner_ups = finals_data_frame["runner_up"].unique().tolist()
all_clubs = champions + runner_ups
clubs = list(set(all_clubs))
clubs.sort()

clubs_appearances = []

for club in clubs:
    champion_appearances = (finals_data_frame["champion"] == club).sum()
    runner_up_appearances = (finals_data_frame["runner_up"] == club).sum()
    appearances = champion_appearances + runner_up_appearances
    performance = round(champion_appearances / appearances * 100, 2)
    clubs_appearances.append({
        "club": club,
        "champion": champion_appearances,
        "runner_up": runner_up_appearances,
        "appearances": appearances,
        "performance": performance
    })

clubs_appearances_data_frame = pandas.DataFrame(clubs_appearances)

#### Most Appearances

In [71]:
most_appearance_clubs_appearances_data_frame = clubs_appearances_data_frame.sort_values(by=["appearances"], ascending=[False], ignore_index=True)
most_appearance_clubs_appearances_data_frame

                       club  champion  runner_up  appearances  performance
0                   Arsenal        14          7           21        66.67
1         Manchester United        12          8           20        60.00
2                   Chelsea         8          8           16        50.00
3                 Liverpool         8          7           15        53.33
4          Newcastle United         6          7           13        46.15
5                   Everton         5          8           13        38.46
6           Manchester City         6          5           11        54.55
7               Aston Villa         7          4           11        63.64
8      West Bromwich Albion         5          5           10        50.00
9         Tottenham Hotspur         8          1            9        88.89
10  Wolverhampton Wanderers         4          4            8        50.00
11         Blackburn Rovers         6          2            8        75.00
12         Sheffield United         5          2            7        71.43
13        Preston North End         2          5            7        28.57
14         Bolton Wanderers         4          3            7        57.14
15             Old Etonians         2          4            6        33.33
16        Huddersfield Town         1          4            5        20.00
17               Portsmouth         2          3            5        40.00
18              Southampton         1          4            5        20.00
19                Wanderers         5          0            5       100.00
20           Leicester City         1          4            5        20.00
21          West Ham United         3          2            5        60.00
22               Sunderland         2          2            4        50.00
23        Oxford University         1          3            4        25.00
24             Leeds United         1          3            4        25.00
25          Royal Engineers         1          3            4        25.00
26            The Wednesday         2          1            3        66.67
27             Cardiff City         1          2            3        33.33
28      Sheffield Wednesday         1          2            3        33.33
29                  Burnley         1          2            3        33.33
30        Nottingham Forest         2          1            3        66.67
31                Blackpool         1          2            3        33.33
32             Derby County         1          2            3        33.33
33           Clapham Rovers         1          1            2        50.00
34                  Watford         0          2            2         0.00
35             Notts County         1          1            2        50.00
36        Charlton Athletic         1          1            2        50.00
37           Crystal Palace         0          2            2         0.00
38             Queen's Park         0          2            2         0.00
39                 Barnsley         1          1            2        50.00
40               Stoke City         0          1            1         0.00
41           Wigan Athletic         1          0            1       100.00
42               Birmingham         0          1            1         0.00
43                Wimbledon         1          0            1       100.00
44             Bristol City         0          1            1         0.00
45      Queens Park Rangers         0          1            1         0.00
46          Old Carthusians         1          0            1       100.00
47          Birmingham City         0          1            1         0.00
48                 Millwall         0          1            1         0.00
49            Middlesbrough         0          1            1         0.00
50        Blackburn Olympic         1          0            1       100.00
51             Ipswich Town         1          0            1       100.00
52                Hull City         0          1            1         0.00
53                   Fulham         0          1            1         0.00
54            Bradford City         1          0            1       100.00
55            Coventry City         1          0            1       100.00
56   Brighton & Hove Albion         0          1            1         0.00
57                     Bury         1          0            1       100.00
58               Luton Town         0          1            1         0.00

#### Best Performance

In [72]:
best_performance_clubs_appearances_data_frame = clubs_appearances_data_frame.sort_values(by=["performance"], ascending=[False], ignore_index=True)
best_performance_clubs_appearances_data_frame

                       club  champion  runner_up  appearances  performance
0                 Wimbledon         1          0            1       100.00
1            Wigan Athletic         1          0            1       100.00
2         Blackburn Olympic         1          0            1       100.00
3             Coventry City         1          0            1       100.00
4           Old Carthusians         1          0            1       100.00
5             Bradford City         1          0            1       100.00
6                 Wanderers         5          0            5       100.00
7              Ipswich Town         1          0            1       100.00
8                      Bury         1          0            1       100.00
9         Tottenham Hotspur         8          1            9        88.89
10         Blackburn Rovers         6          2            8        75.00
11         Sheffield United         5          2            7        71.43
12                  Arsenal        14          7           21        66.67
13        Nottingham Forest         2          1            3        66.67
14            The Wednesday         2          1            3        66.67
15              Aston Villa         7          4           11        63.64
16          West Ham United         3          2            5        60.00
17        Manchester United        12          8           20        60.00
18         Bolton Wanderers         4          3            7        57.14
19          Manchester City         6          5           11        54.55
20                Liverpool         8          7           15        53.33
21               Sunderland         2          2            4        50.00
22             Notts County         1          1            2        50.00
23     West Bromwich Albion         5          5           10        50.00
24  Wolverhampton Wanderers         4          4            8        50.00
25           Clapham Rovers         1          1            2        50.00
26                 Barnsley         1          1            2        50.00
27        Charlton Athletic         1          1            2        50.00
28                  Chelsea         8          8           16        50.00
29         Newcastle United         6          7           13        46.15
30               Portsmouth         2          3            5        40.00
31                  Everton         5          8           13        38.46
32             Old Etonians         2          4            6        33.33
33             Cardiff City         1          2            3        33.33
34      Sheffield Wednesday         1          2            3        33.33
35                  Burnley         1          2            3        33.33
36                Blackpool         1          2            3        33.33
37             Derby County         1          2            3        33.33
38        Preston North End         2          5            7        28.57
39        Oxford University         1          3            4        25.00
40             Leeds United         1          3            4        25.00
41          Royal Engineers         1          3            4        25.00
42        Huddersfield Town         1          4            5        20.00
43              Southampton         1          4            5        20.00
44           Leicester City         1          4            5        20.00
45          Birmingham City         0          1            1         0.00
46             Bristol City         0          1            1         0.00
47               Birmingham         0          1            1         0.00
48                  Watford         0          2            2         0.00
49   Brighton & Hove Albion         0          1            1         0.00
50                Hull City         0          1            1         0.00
51             Queen's Park         0          2            2         0.00
52               Stoke City         0          1            1         0.00
53      Queens Park Rangers         0          1            1         0.00
54           Crystal Palace         0          2            2         0.00
55                 Millwall         0          1            1         0.00
56            Middlesbrough         0          1            1         0.00
57                   Fulham         0          1            1         0.00
58               Luton Town         0          1            1         0.00

## After English Premier League

In [73]:
after_epl_finals_data_frame = finals_data_frame[finals_data_frame["year_start"] >= 1992]
after_epl_finals_data_frame

,season,year_start,champion,score,score_replay,runner_up,venue,attendance,Unnamed: 8
111,1992-93,1992,Arsenal,1-1,2-1,Sheffield Wednesday,Wembley Stadium (original),79347,NaN
112,1993-94,1993,Manchester United,4-0,NaN,Chelsea,Wembley Stadium (original),79634,NaN
113,1994-95,1994,Everton,1-0,NaN,Manchester United,Wembley Stadium (original),79592,NaN
114,1995-96,1995,Manchester United,1-0,NaN,Liverpool,Wembley Stadium (original),79007,NaN
115,1996-97,1996,Chelsea,2-0,NaN,Middlesbrough,Wembley Stadium (original),79160,NaN
116,1997-98,1997,Arsenal,2-0,NaN,Newcastle United,Wembley Stadium (original),79183,NaN
117,1998-99,1998,Manchester United,2-0,NaN,Newcastle United,Wembley Stadium (original),79101,NaN
118,1999-2000,1999,Chelsea,1-0,NaN,Aston Villa,Wembley Stadium (original),78217,NaN
119,2000-01,2000,Liverpool,2-1,NaN,Arsenal,Millennium Stadium,72500,NaN
120,2001-02,2001,Arsenal,2-0,NaN,Chelsea,Millennium Stadium,73963,NaN
121,2002-03,2002,Arsenal,1-0,NaN,Southampton,Millennium Stadium,73726,NaN
122,2003-04,2003,Manchester United,3-0,NaN,Millwall,Millennium Stadium,71350,NaN
123,2004-05,2004,Arsenal,0-0,NaN,Manchester United,Millennium Stadium,71876,NaN
124,2005-06,2005,Liverpool,3-3,NaN,West Ham United,Millennium Stadium,71140,NaN
125,2006-07,2006,Chelsea,1-0,NaN,Manchester United,Wembley Stadium,89826,NaN
126,2007-08,2007,Portsmouth,1-0,NaN,Cardiff City,Wembley Stadium,89874,NaN
127,2008-09,2008,Chelsea,2-1,NaN,Everton,Wembley Stadium,89391,NaN
128,2009-10,2009,Chelsea,1-0,NaN,Portsmouth,Wembley Stadium,88335,NaN
129,2010-11,2010,Manchester City,1-0,NaN,Stoke City,Wembley Stadium,88643,NaN
130,2011-12,2011,Chelsea,2-1,NaN,Liverpool,Wembley Stadium,89041,NaN
131,2012-13,2012,Wigan Athletic,1-0,NaN,Manchester City,Wembley Stadium,86254,NaN
132,2013-14,2013,Arsenal,3-2,NaN,Hull City,Wembley Stadium,89345,NaN
133,2014-15,2014,Arsenal,4-0,NaN,Aston Villa,Wembley Stadium,89283,NaN
134,2015-16,2015,Manchester United,2-1,NaN,Crystal Palace,Wembley Stadium,88619,NaN
135,2016-17,2016,Arsenal,2-1,NaN,Chelsea,Wembley Stadium,89472,NaN
136,2017-18,2017,Chelsea,1-0,NaN,Manchester United,Wembley Stadium,87647,NaN
137,2018-19,2018,Manchester City,6-0,NaN,Watford,Wembley Stadium,85854,NaN
138,2019-20,2019,Arsenal,2-1,NaN,Chelsea,Wembley Stadium,0,NaN
139,2020-21,2020,Leicester City,1-0,NaN,Chelsea,Wembley Stadium,20000,NaN
140,2021-22,2021,Liverpool,0-0,NaN,Chelsea,Wembley Stadium,84897,NaN

### Champions

In [74]:
after_epl_champions_series = after_epl_finals_data_frame['champion'].value_counts(ascending=False)
after_epl_champions_series

champion
Arsenal              9
Chelsea              7
Manchester United    5
Liverpool            3
Manchester City      2
Everton              1
Portsmouth           1
Wigan Athletic       1
Leicester City       1
Name: count, dtype: int64

### Runner Up

In [75]:
after_epl_runner_ups_series = after_epl_finals_data_frame['runner_up'].value_counts(ascending=False)
after_epl_runner_ups_series

runner_up
Chelsea                6
Manchester United      4
Liverpool              2
Newcastle United       2
Aston Villa            2
Sheffield Wednesday    1
Everton                1
Crystal Palace         1
Hull City              1
Manchester City        1
Stoke City             1
Portsmouth             1
Millwall               1
Cardiff City           1
West Ham United        1
Southampton            1
Arsenal                1
Middlesbrough          1
Watford                1
Name: count, dtype: int64

### Appearances

In [76]:
after_epl_champions = after_epl_finals_data_frame["champion"].unique().tolist()
after_epl_runner_ups = after_epl_finals_data_frame["runner_up"].unique().tolist()
after_epl_all_clubs = after_epl_champions + after_epl_runner_ups
after_epl_clubs = list(set(after_epl_all_clubs))
after_epl_clubs.sort()

after_epl_clubs_appearances = []

for club in after_epl_clubs:
    after_epl_champion_appearances = (after_epl_finals_data_frame["champion"] == club).sum()
    after_epl_runner_up_appearances = (after_epl_finals_data_frame["runner_up"] == club).sum()
    after_epl_appearances = after_epl_champion_appearances + after_epl_runner_up_appearances
    after_epl_performance = round(after_epl_champion_appearances / after_epl_appearances * 100, 2)
    after_epl_clubs_appearances.append({
        "club": club,
        "champion": after_epl_champion_appearances,
        "runner_up": after_epl_runner_up_appearances,
        "appearances": after_epl_appearances,
        "performance": after_epl_performance
    })

after_epl_clubs_appearances_data_frame = pandas.DataFrame(after_epl_clubs_appearances)

#### Most Appearances

In [77]:
after_epl_most_appearance_clubs_appearances_data_frame = after_epl_clubs_appearances_data_frame.sort_values(by=["appearances"], ascending=[False], ignore_index=True)
after_epl_most_appearance_clubs_appearances_data_frame

                   club  champion  runner_up  appearances  performance
0               Chelsea         7          6           13        53.85
1               Arsenal         9          1           10        90.00
2     Manchester United         5          4            9        55.56
3             Liverpool         3          2            5        60.00
4       Manchester City         2          1            3        66.67
5               Everton         1          1            2        50.00
6           Aston Villa         0          2            2         0.00
7      Newcastle United         0          2            2         0.00
8            Portsmouth         1          1            2        50.00
9          Cardiff City         0          1            1         0.00
10  Sheffield Wednesday         0          1            1         0.00
11      West Ham United         0          1            1         0.00
12              Watford         0          1            1         0.00
13           Stoke City         0          1            1         0.00
14          Southampton         0          1            1         0.00
15             Millwall         0          1            1         0.00
16       Crystal Palace         0          1            1         0.00
17        Middlesbrough         0          1            1         0.00
18       Leicester City         1          0            1       100.00
19            Hull City         0          1            1         0.00
20       Wigan Athletic         1          0            1       100.00

#### Best Performance

In [78]:
after_epl_best_performance_clubs_appearances_data_frame = after_epl_clubs_appearances_data_frame.sort_values(by=["performance"], ascending=[False], ignore_index=True)
after_epl_best_performance_clubs_appearances_data_frame

                   club  champion  runner_up  appearances  performance
0        Wigan Athletic         1          0            1       100.00
1        Leicester City         1          0            1       100.00
2               Arsenal         9          1           10        90.00
3       Manchester City         2          1            3        66.67
4             Liverpool         3          2            5        60.00
5     Manchester United         5          4            9        55.56
6               Chelsea         7          6           13        53.85
7               Everton         1          1            2        50.00
8            Portsmouth         1          1            2        50.00
9          Cardiff City         0          1            1         0.00
10            Hull City         0          1            1         0.00
11          Aston Villa         0          2            2         0.00
12        Middlesbrough         0          1            1         0.00
13       Crystal Palace         0          1            1         0.00
14     Newcastle United         0          2            2         0.00
15  Sheffield Wednesday         0          1            1         0.00
16          Southampton         0          1            1         0.00
17           Stoke City         0          1            1         0.00
18              Watford         0          1            1         0.00
19      West Ham United         0          1            1         0.00
20             Millwall         0          1            1         0.00