In [5]:
import pandas

In [6]:
world_cup_data_frame = pandas.read_csv("./champions.csv")
world_cup_data_frame

,year,host,champion,runner_up,third_place,fourth_place
0,1991,China,United States,Norway,Sweden,Germany
1,1995,Sweden,Norway,Germany,United States,China
2,1999,United States,United States,China,Brazil,Norway
3,2003,United States,Germany,Sweden,United States,Canada
4,2007,China,Germany,United States,United States,Norway
5,2011,Germany,Japan,United States,Sweden,France
6,2015,Canada,United States,Japan,England,Germany
7,2019,France,United States,Netherlands,Sweden,England

In [7]:
hosts = world_cup_data_frame['host'].value_counts()
hosts

host
China            2
United States    2
Sweden           1
Germany          1
Canada           1
France           1
Name: count, dtype: int64

In [8]:
champions = world_cup_data_frame['champion'].value_counts()
champions

champion
United States    4
Germany          2
Norway           1
Japan            1
Name: count, dtype: int64

In [9]:
runners_up = world_cup_data_frame['runner_up'].value_counts()
runners_up

runner_up
United States    2
Norway           1
Germany          1
China            1
Sweden           1
Japan            1
Netherlands      1
Name: count, dtype: int64

In [10]:
third_places = world_cup_data_frame['third_place'].value_counts()
third_places

third_place
Sweden           3
United States    3
Brazil           1
England          1
Name: count, dtype: int64

In [11]:
fourth_places = world_cup_data_frame['fourth_place'].value_counts()
fourth_places

fourth_place
Germany    2
Norway     2
China      1
Canada     1
France     1
England    1
Name: count, dtype: int64