In [16]:
import pandas as pd

In [17]:
languages_df = pd.read_csv("./languages.csv")
languages_df = languages_df.sort_values(by=["name"])
languages_df.to_csv("./languages.csv", index=False)
languages_df

           name code2 code3
0     afrikaans   NaN   NaN
1      albanian   NaN   NaN
2       amharic   NaN   NaN
3        arabic   NaN   NaN
4      armenian   NaN   NaN
..          ...   ...   ...
96   vietnamese   NaN   NaN
97        welsh   NaN   NaN
98      yiddish   NaN   NaN
99       yoruba   NaN   NaN
100        zulu   NaN   NaN

[101 rows x 3 columns]

In [18]:
languages_df["name"].unique().size

101

In [19]:
languages_df["name"].unique()

array(['afrikaans', 'albanian', 'amharic', 'arabic', 'armenian',
       'azerbaijani', 'basque', 'belarusian', 'bengali', 'bosnian',
       'bulgarian', 'burmese', 'cantonese', 'catalan', 'cebuano',
       'chichewa', 'croatian', 'czech', 'danish', 'dari', 'dutch',
       'english', 'esperanto', 'estonian', 'farsi', 'fillipino',
       'finnish', 'french', 'galician', 'georgian', 'german', 'greek',
       'gujarati', 'haitian creole', 'hausa', 'hebrew', 'hindi', 'hmong',
       'hungarian', 'icelandic', 'igbo', 'indonesian', 'italian',
       'japanese', 'javanese', 'kannada', 'kazakh', 'khmer', 'korean',
       'kurdish', 'kyrgyz', 'lao', 'laotian', 'latin', 'latvian',
       'lithuanian', 'macedonian', 'malagasy', 'malay', 'malayalam',
       'maltese', 'mandarin', 'maori', 'marathi', 'mongolian', 'nepali',
       'norwegian', 'oromo', 'persian', 'polish', 'portuguese', 'pulaar',
       'punjabi', 'romanian', 'russian', 'serbian', 'sesotho', 'sinhala',
       'slovak', 'slovenian', 'somali', 'spanish', 'sundanese', 'swahili',
       'swedish', 'tagalog', 'tajiki', 'tamil', 'telugu', 'thai',
       'tibetan', 'turkish', 'turkmen', 'ukrainian', 'urdu', 'uzbek',
       'vietnamese', 'welsh', 'yiddish', 'yoruba', 'zulu'], dtype=object)