In [12]:
import pandas
import numpy

In [13]:
players_df = pandas.read_csv("./players.csv")
players_df

,no,country,name,birth_year,peak_rating,peak_year,world_champion,world_rapid,world_blitz,world_fisher,world_cup
0,1,Norway,Magnus Carlsen,1990,2882,2014,5,5,7,0,1
1,2,Russia,Garry Kasparov,1963,2851,1999,6,0,0,0,0
2,3,United States,Fabiano Caruana,1992,2844,2014,0,0,0,0,0
3,4,United States,Levon Aronian,1982,2830,2014,0,0,1,0,2
4,5,United States,Wesley So,1993,2822,2017,0,0,0,1,0
5,6,Azerbaijan,Shakhriyar Mamedyarov,1985,2820,2018,0,1,0,0,0
6,7,France,Maxime Vachier-Lagrave,1990,2819,2016,0,0,1,0,0
7,8-9,India,Viswanathan Anand,1969,2817,2011,5,1,0,0,0
8,8-9,Russia,Vladimir Kramnik,1975,2817,2016,3,0,0,0,1
9,10-12,Bulgaria,Veselin Topalov,1975,2816,2015,1,0,0,0,0
10,10-12,United States,Hikaru Nakamura,1987,2816,2015,0,0,0,1,0
11,10-12,China,Ding Liren,1992,2816,2018,1,0,0,0,0
12,13,Russia,Alexander Grischuk,1983,2810,2014,0,0,3,0,0
13,14,France,Alireza Firouzja,2003,2804,2021,0,0,0,0,0

In [14]:
players_df["world_titles"] = (
    players_df["world_champion"]
    + players_df["world_rapid"]
    + players_df["world_blitz"]
    + players_df["world_fisher"]
    + players_df["world_cup"]
)
players_df = players_df.sort_values(by=["world_titles", "peak_rating"], ascending=[False, True])
players_df

,no,country,name,birth_year,peak_rating,peak_year,world_champion,world_rapid,world_blitz,world_fisher,world_cup,world_titles
0,1,Norway,Magnus Carlsen,1990,2882,2014,5,5,7,0,1,18
7,8-9,India,Viswanathan Anand,1969,2817,2011,5,1,0,0,0,6
1,2,Russia,Garry Kasparov,1963,2851,1999,6,0,0,0,0,6
8,8-9,Russia,Vladimir Kramnik,1975,2817,2016,3,0,0,0,1,4
12,13,Russia,Alexander Grischuk,1983,2810,2014,0,0,3,0,0,3
3,4,United States,Levon Aronian,1982,2830,2014,0,0,1,0,2,3
9,10-12,Bulgaria,Veselin Topalov,1975,2816,2015,1,0,0,0,0,1
10,10-12,United States,Hikaru Nakamura,1987,2816,2015,0,0,0,1,0,1
11,10-12,China,Ding Liren,1992,2816,2018,1,0,0,0,0,1
6,7,France,Maxime Vachier-Lagrave,1990,2819,2016,0,0,1,0,0,1
5,6,Azerbaijan,Shakhriyar Mamedyarov,1985,2820,2018,0,1,0,0,0,1
4,5,United States,Wesley So,1993,2822,2017,0,0,0,1,0,1
13,14,France,Alireza Firouzja,2003,2804,2021,0,0,0,0,0,0
2,3,United States,Fabiano Caruana,1992,2844,2014,0,0,0,0,0,0

In [15]:
def get_generation(year: int) -> str:
    if year >= 1901 and year <= 1927:
        return "The Greatest Generation"
    if year >= 1928 and year <= 1945:
        return "The Silent Generation"
    if year >= 1946 and year <= 1964:
        return "Baby Boom Generation"
    if year >= 1965 and year <= 1980:
        return "Generation X"
    if year >= 1981 and year <= 1996:
        return "Generation Y"
    if year >= 1997 and year <= 2010:
        return "Generation Z"
    return ""

In [16]:
players_df["generation"] = players_df["birth_year"].apply(get_generation)
players_df["achieved_age"] = players_df["peak_year"] - players_df["birth_year"]
players_df["achieved_age_range"] = numpy.floor(players_df["achieved_age"] / 10) * 10
players_df["achieved_decade"] = numpy.floor(players_df["peak_year"] / 10) * 10
players_df = players_df.sort_values(by=["achieved_age", "peak_rating"], ascending=[True, False])
players_df

,no,country,name,birth_year,peak_rating,peak_year,world_champion,world_rapid,world_blitz,world_fisher,world_cup,world_titles,generation,achieved_age,achieved_age_range,achieved_decade
13,14,France,Alireza Firouzja,2003,2804,2021,0,0,0,0,0,0,Generation Z,18,10.0,2020.0
2,3,United States,Fabiano Caruana,1992,2844,2014,0,0,0,0,0,0,Generation Y,22,20.0,2010.0
0,1,Norway,Magnus Carlsen,1990,2882,2014,5,5,7,0,1,18,Generation Y,24,20.0,2010.0
4,5,United States,Wesley So,1993,2822,2017,0,0,0,1,0,1,Generation Y,24,20.0,2010.0
6,7,France,Maxime Vachier-Lagrave,1990,2819,2016,0,0,1,0,0,1,Generation Y,26,20.0,2010.0
11,10-12,China,Ding Liren,1992,2816,2018,1,0,0,0,0,1,Generation Y,26,20.0,2010.0
10,10-12,United States,Hikaru Nakamura,1987,2816,2015,0,0,0,1,0,1,Generation Y,28,20.0,2010.0
12,13,Russia,Alexander Grischuk,1983,2810,2014,0,0,3,0,0,3,Generation Y,31,30.0,2010.0
3,4,United States,Levon Aronian,1982,2830,2014,0,0,1,0,2,3,Generation Y,32,30.0,2010.0
5,6,Azerbaijan,Shakhriyar Mamedyarov,1985,2820,2018,0,1,0,0,0,1,Generation Y,33,30.0,2010.0
1,2,Russia,Garry Kasparov,1963,2851,1999,6,0,0,0,0,6,Baby Boom Generation,36,30.0,1990.0
9,10-12,Bulgaria,Veselin Topalov,1975,2816,2015,1,0,0,0,0,1,Generation X,40,40.0,2010.0
8,8-9,Russia,Vladimir Kramnik,1975,2817,2016,3,0,0,0,1,4,Generation X,41,40.0,2010.0
7,8-9,India,Viswanathan Anand,1969,2817,2011,5,1,0,0,0,6,Generation X,42,40.0,2010.0

In [17]:
countries = players_df["country"].value_counts()
countries

country
United States    4
Russia           3
France           2
Norway           1
China            1
Azerbaijan       1
Bulgaria         1
India            1
Name: count, dtype: int64

In [18]:
generations = players_df["generation"].value_counts()
generations

generation
Generation Y            9
Generation X            3
Generation Z            1
Baby Boom Generation    1
Name: count, dtype: int64