In [22]:
import pandas as pd

In [23]:
champions_data_frame = pd.read_csv("./champions.csv")
champions_data_frame

,year,champion,champion_country,runner_up,runner_up_country
0,2011,Fnatic,United Kingdom,against All authority,France
1,2012,J Team,Taiwan,OGN Entus,South Korea
2,2013,T1,South Korea,Royal Club,China
3,2014,Samsung Galaxy,South Korea,Royal Club,China
4,2015,T1,South Korea,Hanwha Life Esports,South Korea
5,2016,T1,South Korea,Samsung Galaxy,South Korea
6,2017,Samsung Galaxy,South Korea,T1,South Korea
7,2018,Invictus Gaming,China,Fnatic,United Kingdom
8,2019,FunPlus Phoenix,China,G2 Esports,Germany
9,2020,Dplus KIA,South Korea,Weibo Gaming,China
10,2021,Edward Gaming,China,DWG KIA,South Korea
11,2022,DRX,South Korea,T1,South Korea
12,2023,T1,South Korea,Weibo Gaming,China

In [24]:
champions = champions_data_frame[['champion', 'champion_country']].value_counts()
champions

champion         champion_country
T1               South Korea         4
Samsung Galaxy   South Korea         2
DRX              South Korea         1
Dplus KIA        South Korea         1
Edward Gaming    China               1
Fnatic           United Kingdom      1
FunPlus Phoenix  China               1
Invictus Gaming  China               1
J Team           Taiwan              1
Name: count, dtype: int64

In [25]:
runners_up = champions_data_frame[['runner_up', 'runner_up_country']].value_counts()
runners_up

runner_up              runner_up_country
Royal Club             China                2
T1                     South Korea          2
Weibo Gaming           China                2
DWG KIA                South Korea          1
Fnatic                 United Kingdom       1
G2 Esports             Germany              1
Hanwha Life Esports    South Korea          1
OGN Entus              South Korea          1
Samsung Galaxy         South Korea          1
against All authority  France               1
Name: count, dtype: int64

In [26]:
finals = champions_data_frame[['champion', 'runner_up']].value_counts()
finals

champion         runner_up
DRX              T1                       1
Dplus KIA        Weibo Gaming             1
Edward Gaming    DWG KIA                  1
Fnatic           against All authority    1
FunPlus Phoenix  G2 Esports               1
Invictus Gaming  Fnatic                   1
J Team           OGN Entus                1
Samsung Galaxy   Royal Club               1
                 T1                       1
T1               Hanwha Life Esports      1
                 Royal Club               1
                 Samsung Galaxy           1
                 Weibo Gaming             1
Name: count, dtype: int64